<a href="https://colab.research.google.com/github/jacobmillerforever/ECON_506/blob/main/506_Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction & Setup

In [1]:
!pip install fredapi
!pip install investpy

Requirement already satisfied: fredapi in /usr/local/lib/python3.11/dist-packages (0.5.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (from fredapi) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas->fredapi) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas->fredapi) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas->fredapi) (1.17.0)
Requirement already satisfied: investpy in /usr/local/lib/python3.11/dist-packages (1.0.8)
Requirement already satisfied: Unidecode>=1.1.1 in /usr/local/lib/python3.11/dist-packages (from investpy) (1.4.0)
Requirement already satisfied: setuptools>=41.2.0 in /usr/local/lib/python3.11/dist-packages (from investpy) (75.2.0)
Requirement already satisfied: numpy>=1.17.2 in /usr/local/lib/python3.11/dist-packages (from investpy) (2.0.2)
Requirement already satisfied: pandas>=0.25.1 in /usr/local/lib/python3.11/dist-packages (from investpy) (2.2.2)
Requirement already satisfied: lxml>=4.4.1 in /usr/local/lib/python3.11/dist-packages (from investpy) (5.3.2)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.11/dist-packages (from investpy) (2.32.3)
Requirement already satisfied: pytz>=2019.3 in /usr/local/lib/python3.11/dist-packages (from investpy) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.1->investpy) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25.1->investpy) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests>=2.22.0->investpy) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests>=2.22.0->investpy) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests>=2.22.0->investpy) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests>=2.22.0->investpy) (2025.1.31)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25.1->investpy) (1.17.0)

In [2]:
import pandas as pd
import yfinance as yf
import datetime as dt
from fredapi import Fred
import investpy

# Data Collection & Preparation

In [3]:
def get_ticker_data(ticker_dict, start_date, end_date):
    """
    Fetches data for multiple tickers and creates a DataFrame for each with
    single-index columns named as Ticker_ColumnName (e.g., SPY_Close)

    Parameters:
    -----------
    ticker_dict : dict
        Dictionary with display names as keys and ticker symbols as values
    start_date : str
        Start date in format 'YYYY-MM-DD'
    end_date : str
        End date in format 'YYYY-MM-DD'

    Returns:
    --------
    dict
        Dictionary with display names as keys and their respective DataFrames as values
    """
    ticker_dataframes = {}

    for display_name, ticker_symbol in ticker_dict.items():
        # Fetch data for current ticker
        data = yf.download(ticker_symbol, start=start_date, end=end_date, progress=False)

        # Handle multi-index columns if present
        if isinstance(data.columns, pd.MultiIndex):
            # Flatten the multi-index columns to single index
            data.columns = [f"{ticker_symbol}_{col[0]}" for col in data.columns]
        else:
            # If not multi-index, still rename columns to match pattern
            data.columns = [f"{ticker_symbol}_{col}" for col in data.columns]

        # Store the DataFrame in the dictionary with display name as key
        ticker_dataframes[display_name] = data

    return ticker_dataframes

tickers = {
    # Global Indices
    'Nikkei 225 (Japan)': '^N225',
    'Hang Seng (Hong Kong)': '^HSI',
    'SSE Composite (China)': '000001.SS',
    'ASX 200 (Australia)': '^AXJO',
    'DAX (Germany)': '^GDAXI',
    'FTSE 100 (UK)': '^FTSE',
    'CAC 40 (France)': '^FCHI',
    'Euro Stoxx 50 (EU)': '^STOXX50E',
    'SPY (US)': 'SPY',


    # Volatility Indices
    'VIX (US)': '^VIX',
    'VIX Brazil': '^VXEWZ',
    'DAX Volatility': '^VDAX',

    # Currency Pairs
    'US Dollar Index': 'DX-Y.NYB',
    'EUR/USD': 'EURUSD=X',
    'JPY/USD': 'JPY=X',
    'CNY/USD': 'CNY=X',

    # Commodities
    'Gold': 'GC=F',
    'Crude Oil': 'CL=F',
    'Silver': 'SI=F',
    'Corn': 'ZC=F',
    'Copper': 'HG=F'
}

start_date = '2000-01-01'
end_date = dt.datetime.now().strftime('%Y-%m-%d')

# Get individual DataFrames for each ticker
ticker_data = get_ticker_data(tickers, start_date, end_date)

# Display the first few rows and column names for each DataFrame
for display_name, df in ticker_data.items():
    print(f"\n{display_name} DataFrame:")
    print(f"Column names: {df.columns.tolist()}")
    print(df.head())

YF.download() has changed argument auto_adjust default to True

Nikkei 225 (Japan) DataFrame:
Column names: ['^N225_Close', '^N225_High', '^N225_Low', '^N225_Open', '^N225_Volume']
             ^N225_Close    ^N225_High     ^N225_Low    ^N225_Open  \
Date
2000-01-04  19002.859375  19187.609375  18937.449219  18937.449219
2000-01-05  18542.550781  19003.509766  18221.820312  19003.509766
2000-01-06  18168.269531  18582.740234  18168.269531  18574.009766
2000-01-07  18193.410156  18285.730469  18068.099609  18194.050781
2000-01-11  18850.919922  18887.560547  18246.099609  18246.099609

            ^N225_Volume
Date
2000-01-04             0
2000-01-05             0
2000-01-06             0
2000-01-07             0
2000-01-11             0

Hang Seng (Hong Kong) DataFrame:
Column names: ['^HSI_Close', '^HSI_High', '^HSI_Low', '^HSI_Open', '^HSI_Volume']
              ^HSI_Close     ^HSI_High      ^HSI_Low     ^HSI_Open  \
Date
2000-01-03  17369.630859  17426.160156  17057.699219  17057.699219
2000-01-04  17072.820312  17303.000000  16933.519531  17303.000000
2000-01-05  15846.719727  16608.550781  15688.490234  16608.550781
2000-01-06  15153.230469  15971.030273  14763.969727  15942.070312
2000-01-07  15405.629883  15513.889648  15108.750000  15329.339844

            ^HSI_Volume
Date
2000-01-03            0
2000-01-04            0
2000-01-05            0
2000-01-06            0
2000-01-07            0

SSE Composite (China) DataFrame:
Column names: ['000001.SS_Close', '000001.SS_High', '000001.SS_Low', '000001.SS_Open', '000001.SS_Volume']
            000001.SS_Close  000001.SS_High  000001.SS_Low  000001.SS_Open  \
Date
2000-01-04      1406.370972     1407.517944    1361.213989     1368.692993
2000-01-05      1409.682007     1433.780029    1398.322998     1407.828979
2000-01-06      1463.942017     1463.954956    1400.253052     1406.036011
2000-01-07      1516.604004     1522.824951    1477.154053     1477.154053
2000-01-10      1545.112061     1546.723022    1506.404053     1531.712036

            000001.SS_Volume
Date
2000-01-04                 0
2000-01-05                 0
2000-01-06                 0
2000-01-07                 0
2000-01-10                 0

ASX 200 (Australia) DataFrame:
Column names: ['^AXJO_Close', '^AXJO_High', '^AXJO_Low', '^AXJO_Open', '^AXJO_Volume']
            ^AXJO_Close   ^AXJO_High    ^AXJO_Low   ^AXJO_Open  ^AXJO_Volume
Date
2000-01-04  3093.699951  3093.699951  3093.699951  3093.699951             0
2000-01-05  3018.699951  3018.699951  3018.699951  3018.699951             0
2000-01-06  2999.300049  2999.300049  2999.300049  2999.300049             0
2000-01-07  3023.399902  3023.399902  3023.399902  3023.399902             0
2000-01-10  3084.000000  3084.000000  3084.000000  3084.000000             0

DAX (Germany) DataFrame:
Column names: ['^GDAXI_Close', '^GDAXI_High', '^GDAXI_Low', '^GDAXI_Open', '^GDAXI_Volume']
            ^GDAXI_Close  ^GDAXI_High   ^GDAXI_Low  ^GDAXI_Open  ^GDAXI_Volume
Date
2000-01-03   6750.759766  7159.330078  6720.870117  6961.720215       43072500
2000-01-04   6586.950195  6755.359863  6510.459961  6747.240234       46678400
2000-01-05   6502.069824  6585.850098  6388.910156  6585.850098       52682800
2000-01-06   6474.919922  6539.310059  6402.629883  6501.450195       41180600
2000-01-07   6780.959961  6791.529785  6470.140137  6489.939941       56058900

FTSE 100 (UK) DataFrame:
Column names: ['^FTSE_Close', '^FTSE_High', '^FTSE_Low', '^FTSE_Open', '^FTSE_Volume']
            ^FTSE_Close   ^FTSE_High    ^FTSE_Low   ^FTSE_Open  ^FTSE_Volume
Date
2000-01-04  6665.899902  6930.200195  6662.899902  6930.200195     633449000
2000-01-05  6535.899902  6665.899902  6500.399902  6665.899902     670234000
2000-01-06  6447.200195  6547.299805  6424.399902  6535.899902     785532000
2000-01-07  6504.799805  6532.399902  6438.799805  6447.200195     888306000
2000-01-10  6607.700195  6634.200195  6504.799805  6504.799805     735455000

CAC 40 (France) DataFrame:
Column names: ['^FCHI_Close', '^FCHI_High', '^FCHI_Low', '^FCHI_Open', '^FCHI_Volume']
            ^FCHI_Close   ^FCHI_High    ^FCHI_Low   ^FCHI_Open  ^FCHI_Volume
Date
2000-01-03  5917.370117  6102.120117  5901.770020  6024.379883             0
2000-01-04  5672.020020  5925.069824  5657.200195  5922.229980             0
2000-01-05  5479.700195  5589.500000  5461.589844  5521.830078             0
2000-01-06  5450.109863  5530.259766  5388.850098  5485.930176             0
2000-01-07  5539.609863  5561.689941  5423.879883  5423.879883             0

Euro Stoxx 50 (EU) DataFrame:
Column names: ['^STOXX50E_Close', '^STOXX50E_High', '^STOXX50E_Low', '^STOXX50E_Open', '^STOXX50E_Volume']
            ^STOXX50E_Close  ^STOXX50E_High  ^STOXX50E_Low  ^STOXX50E_Open  \
Date
2007-03-30      4181.029785     4207.759766    4160.350098     4177.669922
2007-04-02      4189.549805     4191.759766    4163.770020     4177.310059
2007-04-03      4246.299805     4248.069824    4199.540039     4199.540039
2007-04-04      4261.830078     4261.830078    4242.049805     4252.709961
2007-04-05      4271.540039     4274.169922    4253.790039     4259.979980

            ^STOXX50E_Volume
Date
2007-03-30                 0
2007-04-02                 0
2007-04-03                 0
2007-04-04                 0
2007-04-05                 0

SPY (US) DataFrame:
Column names: ['SPY_Close', 'SPY_High', 'SPY_Low', 'SPY_Open', 'SPY_Volume']
            SPY_Close   SPY_High    SPY_Low   SPY_Open  SPY_Volume
Date
2000-01-03  92.414963  94.202102  91.422108  94.202102     8164300
2000-01-04  88.800919  91.541197  88.731419  91.203627     8089800
2000-01-05  88.959801  89.932799  87.212376  88.920087    12177900
2000-01-06  87.530113  89.912966  87.530113  88.721539     6227200
2000-01-07  92.613525  92.613525  88.999533  89.158390     8066500

VIX (US) DataFrame:
Column names: ['^VIX_Close', '^VIX_High', '^VIX_Low', '^VIX_Open', '^VIX_Volume']
            ^VIX_Close  ^VIX_High   ^VIX_Low  ^VIX_Open  ^VIX_Volume
Date
2000-01-03   24.209999  26.150000  23.980000  24.360001            0
2000-01-04   27.010000  27.180000  24.799999  24.940001            0
2000-01-05   26.410000  29.000000  25.850000  27.980000            0
2000-01-06   25.730000  26.709999  24.700001  26.680000            0
2000-01-07   21.719999  25.170000  21.719999  25.139999            0

VIX Brazil DataFrame:
Column names: ['^VXEWZ_Close', '^VXEWZ_High', '^VXEWZ_Low', '^VXEWZ_Open', '^VXEWZ_Volume']
            ^VXEWZ_Close  ^VXEWZ_High  ^VXEWZ_Low  ^VXEWZ_Open  ^VXEWZ_Volume
Date
2023-06-26     29.610001    33.509998   29.400000    33.490002              0
2023-06-27     29.430000    30.280001   29.180000    29.879999              0
2023-06-28     29.820000    29.940001   29.370001    29.600000              0
2023-06-29     29.600000    29.780001   29.190001    29.620001              0
2023-06-30     29.450001    30.520000   29.049999    30.520000              0

DAX Volatility DataFrame:
Column names: ['^VDAX_Close', '^VDAX_High', '^VDAX_Low', '^VDAX_Open', '^VDAX_Volume']
            ^VDAX_Close  ^VDAX_High  ^VDAX_Low  ^VDAX_Open  ^VDAX_Volume
Date
2005-11-16        14.65       15.38      14.54       14.57             0
2005-11-17        14.54       14.67      14.11       14.44             0
2005-11-18        14.35       14.41      13.79       14.08             0
2005-11-21        13.56       14.36      13.52       14.31             0
2005-11-22        13.69       13.69      13.40       13.57             0

US Dollar Index DataFrame:
Column names: ['DX-Y.NYB_Close', 'DX-Y.NYB_High', 'DX-Y.NYB_Low', 'DX-Y.NYB_Open', 'DX-Y.NYB_Volume']
            DX-Y.NYB_Close  DX-Y.NYB_High  DX-Y.NYB_Low  DX-Y.NYB_Open  \
Date
2000-01-03      100.220001     101.830002    100.190002     101.669998
2000-01-04      100.410004     100.860001    100.010002     100.550003
2000-01-05      100.379997     100.470001     99.709999     100.419998
2000-01-06      100.650002     100.809998     99.809998     100.309998
2000-01-07      100.800003     100.930000    100.440002     100.489998

            DX-Y.NYB_Volume
Date
2000-01-03                0
2000-01-04                0
2000-01-05                0
2000-01-06                0
2000-01-07                0

EUR/USD DataFrame:
Column names: ['EURUSD=X_Close', 'EURUSD=X_High', 'EURUSD=X_Low', 'EURUSD=X_Open', 'EURUSD=X_Volume']
            EURUSD=X_Close  EURUSD=X_High  EURUSD=X_Low  EURUSD=X_Open  \
Date
2003-12-01        1.196501       1.204007      1.194401       1.203398
2003-12-02        1.208897       1.210903      1.194600       1.196101
2003-12-03        1.212298       1.213003      1.207700       1.209000
2003-12-04        1.208094       1.214403      1.204398       1.212004
2003-12-05        1.218695       1.219096      1.206593       1.207802

            EURUSD=X_Volume
Date
2003-12-01                0
2003-12-02                0
2003-12-03                0
2003-12-04                0
2003-12-05                0

JPY/USD DataFrame:
Column names: ['JPY=X_Close', 'JPY=X_High', 'JPY=X_Low', 'JPY=X_Open', 'JPY=X_Volume']
            JPY=X_Close  JPY=X_High   JPY=X_Low  JPY=X_Open  JPY=X_Volume
Date
2000-01-03   101.690002  103.330002  101.309998  102.070000             0
2000-01-04   103.139999  103.320000  101.470001  101.639999             0
2000-01-05   104.089996  104.480003  102.750000  103.129997             0
2000-01-06   105.230003  105.559998  103.900002  104.089996             0
2000-01-07   105.330002  105.879997  104.830002  105.260002             0

CNY/USD DataFrame:
Column names: ['CNY=X_Close', 'CNY=X_High', 'CNY=X_Low', 'CNY=X_Open', 'CNY=X_Volume']
            CNY=X_Close  CNY=X_High  CNY=X_Low  CNY=X_Open  CNY=X_Volume
Date
2001-06-25       8.2768      8.2868     8.2667      8.2767             0
2001-06-26       8.2768      8.2868     8.2668      8.2768             0
2001-07-02       8.2770      8.2870     8.2667      8.2767             0
2001-07-09       8.2767      8.2868     8.2667      8.2768             0
2001-07-11       8.2769      8.2870     8.2669      8.2769             0

Gold DataFrame:
Column names: ['GC=F_Close', 'GC=F_High', 'GC=F_Low', 'GC=F_Open', 'GC=F_Volume']
            GC=F_Close   GC=F_High    GC=F_Low   GC=F_Open  GC=F_Volume
Date
2000-08-30  273.899994  273.899994  273.899994  273.899994            0
2000-08-31  278.299988  278.299988  274.799988  274.799988            0
2000-09-01  277.000000  277.000000  277.000000  277.000000            0
2000-09-05  275.799988  275.799988  275.799988  275.799988            2
2000-09-06  274.200012  274.200012  274.200012  274.200012            0

Crude Oil DataFrame:
Column names: ['CL=F_Close', 'CL=F_High', 'CL=F_Low', 'CL=F_Open', 'CL=F_Volume']
            CL=F_Close  CL=F_High   CL=F_Low  CL=F_Open  CL=F_Volume
Date
2000-08-23   32.049999  32.799999  31.950001  31.950001        79385
2000-08-24   31.629999  32.240002  31.400000  31.900000        72978
2000-08-25   32.049999  32.099998  31.320000  31.700001        44601
2000-08-28   32.869999  32.919998  31.860001  32.040001        46770
2000-08-29   32.720001  33.029999  32.560001  32.820000        49131

Silver DataFrame:
Column names: ['SI=F_Close', 'SI=F_High', 'SI=F_Low', 'SI=F_Open', 'SI=F_Volume']
            SI=F_Close  SI=F_High  SI=F_Low  SI=F_Open  SI=F_Volume
Date
2000-08-30       4.930      4.950     4.895      4.950         2319
2000-08-31       5.003      5.045     4.920      4.920         1612
2000-09-01       5.004      5.035     4.985      5.035         1375
2000-09-05       4.998      5.005     4.975      4.990          856
2000-09-06       4.983      5.000     4.980      5.000          232

Corn DataFrame:
Column names: ['ZC=F_Close', 'ZC=F_High', 'ZC=F_Low', 'ZC=F_Open', 'ZC=F_Volume']
            ZC=F_Close  ZC=F_High  ZC=F_Low  ZC=F_Open  ZC=F_Volume
Date
2000-07-17      179.25     182.25    178.25     182.25        19385
2000-07-18      180.75     183.25    179.00     179.00        25205
2000-07-19      182.00     182.75    178.75     180.00        17126
2000-07-20      186.00     187.00    181.00     181.50        18742
2000-07-21      187.75     188.00    185.00     185.50        16814

Copper DataFrame:
Column names: ['HG=F_Close', 'HG=F_High', 'HG=F_Low', 'HG=F_Open', 'HG=F_Volume']
            HG=F_Close  HG=F_High  HG=F_Low  HG=F_Open  HG=F_Volume
Date
2000-08-30      0.8850      0.887    0.8770      0.879         2886
2000-08-31      0.8850      0.888    0.8800      0.885         1095
2000-09-01      0.8890      0.889    0.8780      0.878         3449
2000-09-05      0.9060      0.907    0.8950      0.896         1397
2000-09-06      0.9015      0.906    0.8975      0.905         1195

In [4]:
def get_fred_data(api_key, series_list, start_date='2000-01-01', end_date=None):
    """
    Fetches data for multiple FRED series at the highest available frequency

    Parameters:
    -----------
    api_key : str
        Your FRED API key
    series_list : list
        List of FRED series IDs as strings
    start_date : str, optional
        Start date in format 'YYYY-MM-DD', defaults to '2000-01-01'
    end_date : str, optional
        End date in format 'YYYY-MM-DD', defaults to current date

    Returns:
    --------
    dict
        Dictionary with series IDs as keys and their respective DataFrames as values
    dict
        Dictionary with series IDs as keys and the frequency used as values
    """
    # Initialize FRED API connection
    fred = Fred(api_key=api_key)

    # Set end date to current date if not provided
    if end_date is None:
        end_date = dt.datetime.now().strftime('%Y-%m-%d')

    # Convert start and end dates to datetime objects
    start_dt = dt.datetime.strptime(start_date, '%Y-%m-%d')
    end_dt = dt.datetime.strptime(end_date, '%Y-%m-%d')

    # Initialize dictionaries to store DataFrames and frequencies
    fred_dataframes = {}
    fred_frequencies = {}

    # Frequency hierarchy from highest to lowest resolution
    # Not all series support all frequencies
    frequency_hierarchy = ['d', 'w', 'bw', 'm', 'q', 'sa', 'a']

    # Process each series ID
    for series_id in series_list:
        # Try frequencies in order from highest to lowest resolution
        for freq in frequency_hierarchy:
            try:
                # Get data for current series with current frequency
                data = fred.get_series(series_id, start_dt, end_dt, frequency=freq)

                # If successful and data is not empty, convert to DataFrame
                if not data.empty:
                    # Convert Series to DataFrame
                    df = pd.DataFrame(data)
                    df.columns = [f"{series_id}_value"]

                    # Add to dictionaries
                    fred_dataframes[series_id] = df
                    fred_frequencies[series_id] = freq

                    print(f"Successfully fetched data for {series_id} with frequency '{freq}'")
                    # Break out of frequency loop once we've found a working frequency
                    break
                else:
                    print(f"No data found for {series_id} with frequency '{freq}'")
            except Exception as e:
                # If this frequency doesn't work, try the next one
                print(f"Could not fetch {series_id} with frequency '{freq}': {str(e)}")

        # Check if we were able to fetch this series with any frequency
        if series_id not in fred_dataframes:
            print(f"Failed to fetch data for {series_id} with any available frequency")

    return fred_dataframes, fred_frequencies

from google.colab import userdata
fred_api = '8b000b950d5841b5b7e35ebbcacedaea'

fred_series = [
    'DFF',           # Federal Funds Rate
    'T10Y2Y',        # 10-Year minus 2-Year Treasury Spread
    'CPIAUCSL',      # Consumer Price Index
    'UNRATE',        # Unemployment Rate
    'STLFSI',        # St. Louis Fed Financial Stress Index
    'M2SL',          # M2 Money Supply
    'USSLIND',       # US Leading Index
    'BAMLH0A0HYM2',  # High Yield Spread
    'GS5',           # 5-Year Treasury Rate
    'GS30',          # 30-Year Treasury Rate
    'BAMLC0A0CM'     # Corporate Bond Spread
]

fred_data = get_fred_data(fred_api, fred_series)

Successfully fetched data for DFF with frequency 'd'
Successfully fetched data for T10Y2Y with frequency 'd'
Could not fetch CPIAUCSL with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch CPIAUCSL with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch CPIAUCSL with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for CPIAUCSL with frequency 'm'
Could not fetch UNRATE with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch UNRATE with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch UNRATE with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for UNRATE with frequency 'm'
Could not fetch STLFSI with frequency 'd': Bad Request.  Value of frequency is not one of: 'wef', 'w', 'bwew', 'bwem', 'bw', 'm', 'q', 'sa', 'a'.
Successfully fetched data for STLFSI with frequency 'w'
Could not fetch M2SL with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch M2SL with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch M2SL with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for M2SL with frequency 'm'
Could not fetch USSLIND with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch USSLIND with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch USSLIND with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for USSLIND with frequency 'm'
Successfully fetched data for BAMLH0A0HYM2 with frequency 'd'
Could not fetch GS5 with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch GS5 with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch GS5 with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for GS5 with frequency 'm'
Could not fetch GS30 with frequency 'd': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch GS30 with frequency 'w': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Could not fetch GS30 with frequency 'bw': Bad Request.  Value of frequency is not one of: 'm', 'q', 'sa', 'a'.
Successfully fetched data for GS30 with frequency 'm'
Successfully fetched data for BAMLC0A0CM with frequency 'd'

In [5]:
calendar_df = investpy.economic_calendar(
      from_date='01/01/2000',
      to_date='31/12/2025',
      countries=['united states'],
      categories=['monetary policy', 'inflation', 'employment'],
      importances=['high']
)

calendar_df = calendar_df[~calendar_df['importance'].isna()].reset_index(drop=True)
calendar_df.tail()

,id,date,time,zone,currency,importance,event,actual,forecast,previous
4749,521809,05/05/2025,15:00,united states,USD,high,ISM Non-Manufacturing Prices (Apr),None,None,60.9
4750,522277,13/05/2025,13:30,united states,USD,high,Core CPI (MoM) (Apr),None,None,0.1%
4751,522278,13/05/2025,13:30,united states,USD,high,CPI (YoY) (Apr),None,None,2.4%
4752,522275,13/05/2025,13:30,united states,USD,high,CPI (MoM) (Apr),None,None,-0.1%
4753,522560,15/05/2025,13:30,united states,USD,high,PPI (MoM) (Apr),None,None,-0.4%

# Exploratory Data Analysis

# Feature Engineering

# Model Development

# Model Evaluation